body {
    background-image: url(images/fon.jpg);
    background-size: cover;
}
.container {
    width: 853px;
    height: 568px;
    background-color: rgba(165, 42, 42, 0.185);
    margin: 30px auto;
}
.bigSlider {
    width: 100%;
    height: 100%;
    background-size: cover;
    border: 5px solid grey;
    background-image: url(images/1.jpg);
}
.smallImage {
    display: flex;
    position: relative;
    top: -45px;
}
.smallImage > img {
    width: 149px;
    height: auto;
    margin-right: 16px;

    border: 5px solid grey;
}
.smallImage > img:hover {
    cursor: pointer;
    opacity: 50%;
}
.button {
    position: relative;
    top: -300px;
}
.button > button {
    width: 80px;
    height: 60px;
    border: 5px solid grey;
    background-color: rgba(255, 255, 255, 0.384);
    font-size: 30px;
    color: rgb(66, 66, 66);
    cursor: pointer;
}
.button > button:hover {
    background-color: rgba(255, 255, 255, 0.568);
}
.next {
    position: relative;
    right: -699px;
}

#btn1 {
    position: relative;
    top: -61px;
    right: 72px;
    /* right: -219px; */
}
#btn2 {
    position: relative;
    top: -90px;
    right: -262px;
}
#btn3 {
    position: relative;
    top: -90px;
    right: 131px;
}
#btn4 {
    position: relative;
    top: -90px;
    right: 131px;
}
.btn {
    cursor: pointer;
    background-color: white;
    transition: all 3s;
}
.text {
    font-size: 30px;
    padding-top: 100px;
    padding-left: 15%;
    color: rgb(19, 77, 69);
    background-color: rgba(127, 255, 212, 0.384);
    cursor: pointer;
}
.advertisingLeft > aside {
    /* width: 284px; */
    width: 0px;
    height: 189px;
    background-size: cover;
    /* position: fixed;
    top:calc((100vh - 200 ) / 2); */
    left: 0px;
    transition: all 2s;
    border: 5px solid grey;
    opacity: 90%;
}
.advertisingRight > aside {
    /* width: 284px; */
    width: 0px;
    height: 189px;
    background-size: cover;
    position: fixed;
    top: calc((100vh - 200) / 2);
    right: 0px;
    transition: all 2s;
    border: 5px solid grey;
    opacity: 90%;
    text-align: center;
}
#left1 {
    position: absolute;
    top: 35px;
    background-image: url(images/9.jpg);
}
#left2 {
    position: absolute;
    top: 400px;
    background-image: url(images/7.jpg);
}
#Right1 {
    position: absolute;
    top: 35px;
    background-image: url(images/8.jpg);
}
#Right2 {
    position: absolute;
    top: 400px;
    background-image: url(images/9.jpg);
}
